 footer p {
    color: rgb(241, 245, 6);
    font-family : Arial;
   }
   body {
    background-image: url("https://images.alphacoders.com/904/thumb-1920-904409.jpg");
    background-repeat: no-repeat;
    background-size:cover
 }
 label,h1{
    color : red;
    font-family : Arial;
 }