html {
    position: relative;
}

p2 {
    font-family : Arial;
    background: white;
    padding-bottom : 20px;
}
h2 {
    text-align : center;
    font-family : Arial;
    color : red;
}
body {
    margin-bottom: 100px;
    margin-top: 30px;
   }
   
img {
    width: 600px;
    height : 400px;
    border: 5px solid rgb(7, 247, 39);
   }
section {
    min-height: 500px;
   }
.NEGARA {
    min-height: 600px;
   }
   
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding-top: 20px;
   }
   
footer p {
    color: rgb(241, 245, 6);
    font-family : Arial;
   }
   body {
    background-image: url("img/Jepang1.jpg");
    background-repeat: no-repeat;
    background-size:cover
 }